<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stacksofwax</title>

    <!-- My CSS -->
    <link rel="stylesheet" href="ui.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <%- include('header') %>
    
    <div class="uk-container album_page">
      <div class="uk-grid">

      <div class="uk-width-1-2@s">
        <div> 
            <%= albumdetails.album_name %>
        </div>
        <div>
          <%= albumdetails.artist_name %>
        </div>
      </div>
      
      <div class="uk-width-1-2@s">
        <div> 
          LIKE
        </div>
      </div>  
    </div>
               

    <div class="uk-grid">
      <div class="uk-width-1-3@s">
        <div>
          <img src="<%= albumdetails.img_url %>">
        </div>
      </div>

      <div class="uk-width-2-3@s">
        <div>
          released in: <%= albumdetails.release_year %>
        </div>

        <div>
          written by: <%= albumdetails.artist_name  %>
        </div>
      </div>
    </div>

    <a href="/">BACK</a>

    </div>
     
    <%- include('footer') %> 
  
</body>
</html>