<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>stacksofwax</title>

  <!-- My CSS -->
  <link rel="stylesheet" href="ui.css">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit-icons.min.js"></script>
</head>

<body id="collections_page_body">

  <%- include('header') %>

  <div class="collections_page">
    <div class="uk-container uk-container-center">

      <button class="back_button uk-margin-medium-top uk-align-left">
        <a href="/">
          <span class="back_text">BACK</span></a>
      </button>

      <h1 class="uk-text-bold uk-text-center" style="font-size: 2.4em; padding-right: 90px; padding-bottom: 40px; border-bottom: thin solid rgb(194, 194, 194);">Browse Collections</h1>

      <div uk-grid uk-filter="target: .js-filter">
        <div class="uk-grid">
          <div class="uk-width-1-4 uk-margin-small-top uk-width-expand if_small_screen">
            <h5 class="uk-text-bold">GENRE:</h5>
              <ul class="uk-subnav uk-subnav-pill uk-align-left">
                <li class="uk-warning" uk-filter-control id="active"><a href="#">View All</a></li>
                <!-- loop to ensure genres aren't repeated in filter list -->
                <% let addedGenres = []; %>
                <% results.collection_details.forEach((collection) => {
                                  if (!addedGenres.includes(collection.genre_type)) {
                                    addedGenres.push(collection.genre_type);
                                    %>
                <li uk-filter-control=".tag-<%= collection.genre_type %>"><a href="#"><%= collection.genre_type %></a></li>
                <% 
                                  }
                                }); %>
              </ul>
            <h5 class="uk-text-bold uk-margin-medium-top">SEARCH:</h5>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by username..." style="width: 65%; height: 30px; border: thin solid rgb(222, 222, 222); background-color: #F3F3F3;">
          </div>



          <div class="uk-width-3-4" style="margin-left: 10px;">
            <dl class="uk-description-list uk-description-list-divider">
              <ul class="js-filter uk-list uk-list-divider uk-margin-medium-top" id="myUL">

                <% results.collection_details.forEach( (collection) => { %>

                  <li class="tag-<%= collection.genre_type %>" style="margin-left: 10px;">
                    <a href="/collection?cid=<%= collection.collection_id %>" class="collections_link">

                      <dt><%= collection.collection_name %></dt>
                      <dd><%= collection.collection_desc %></dd>
                      <div class="uk-badge-warning">
                        <dd class="uk-text-muted uk-text-italic uk-margin-small-top"><span class="uk-badge" style="margin-right: 10px; padding: 8px; background: #eb982b;"><%=collection.genre_type%></span><%= collection.username %></dd>
                      </div>
                    </a>
                  </li>

                <% }); %>

              </ul>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('filterbanner') %>

  <%- include('footer') %>

  // script to make search filter bar function
  <script>
    function myFunction() {
      // variable declaration
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');

      // loop to check all list items for matches
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
  </script>

</body>
</html>